graft .github
graft docs
graft src
graft tests

include .coveragerc
include .editorconfig
include .gitignore
include .readthedocs.yaml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include requirements.txt
include pyproject.toml
include setup.cfg
include setup.py
include tox.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib
