graft .github
graft docs
graft src
graft ci
graft tests
graft _static
graft _templates
graft pyinstaller

include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib
